
/* テーマオプション
------------------------------------------------------------*/

#tpl_013_rwd_options {font:120%/1.5 Arial, 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif;}
#tpl_013_rwd_options .first{padding-bottom:30px;}
#tpl_013_rwd_options h3{padding:6px 15px;background-color:#777;background-image:-ms-linear-gradient(bottom,#6d6d6d,#808080);background-image:-moz-linear-gradient(bottom,#6d6d6d,#808080);background-image:-o-linear-gradient(bottom,#6d6d6d,#808080);background-image:-webkit-gradient(linear,left bottom,left top,from(#6d6d6d),to(#808080));background-image:-webkit-linear-gradient(bottom,#6d6d6d,#808080);background-image:linear-gradient(bottom,#6d6d6d,#808080);color:#fff;
-webkit-border-radius:4px;border-radius:4px;font-size:150%;}
#tpl_013_rwd_options h3 span{font-size:.8em;}
#tpl_013_rwd_options table{width:80%;border:1px #999 solid;border-collapse:collapse;border-spacing:0;}
#tpl_013_rwd_options table th, #tpl_013_rwd_options table td{padding:5px 10px;border:1px #999 solid;border-width:0 0 1px 1px;}
#tpl_013_rwd_options table th{background:#ccc;width:30%;text-align:left;}
#tpl_013_rwd_options table span{color:#666;}
#tpl_013_rwd_options table span.warning{color:#cc0000;font-size:90%;}
#tpl_013_rwd_options table dt,#tpl_013_rwd_options table dd{margin:0;padding:5px 0;}
#tpl_013_rwd_options table dt{font-weight:bold;}
#tpl_013_rwd_options table dd{border-bottom:1px solid #dfdfdf;}
#tpl_013_rwd_options input,#tpl_013_rwd_options textarea{width:95%;}
#tpl_013_rwd_options input.button-primary{width:auto;-webkit-border-radius:6px;border-radius:6px;}
#tpl_013_rwd_options table dd input{margin-bottom:5px;}
#tpl_013_rwd_options p.img{text-align:center;}

#tpl_013_rwd_options img.alignLeft{float:left;display:inline;margin:0 20px 0 0;}