@charset "utf-8";
/*
Theme Name: tpl_013_rwd
Theme URI: http://theme.o2gp.com/
Description: tpl_013_rwd
Version: 1.0
Author: o2 Group
Author URI: http://theme.o2gp.com/
Tags: simple

	o2 Group v1.0
	 http://theme.o2gp.com/

	This theme was designed and built by o2 Group,
	whose blog you will find at http://theme.o2gp.com/

	The CSS, XHTML and design is released under GPL:
	http://www.opensource.org/licenses/gpl-license.php

*/

/* =Reset default browser CSS.
Based on work by Eric Meyer:http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline;}
:focus{outline:0;}

ol, ul{list-style:none;}
table{border-collapse:separate;border-spacing:0;}
caption, th, td{font-weight:normal;text-align:left;}
blockquote:before, blockquote:after,q:before, q:after{content:"";}
blockquote, q{quotes:"" "";}
a img{border:0;}
figure{margin:0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
/* -------------------------------------------------------------- */

body{
color:#333;
font:12px verdana,"ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
line-height:1.5;
background:#f8f4f1;
-webkit-text-size-adjust:100%;
}

html{background:#3f4360;}


/* リンク設定
------------------------------------------------------------*/
a{color:#3f4360;text-decoration:none;}
a:hover{color:#292d48;}
a:active, a:focus{outline:0;}


/* フォーム
------------------------------------------------------------*/
input, textarea{
vertical-align:middle;
max-width:90%;
line-height:24px;
height:24px;
padding:1px 5px;
border:1px solid #ccc;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
font-size:100%;
color:#555;
}

textarea{
height:auto;
line-height:1.5;
}

input[type="submit"],input[type="reset"],input[type="button"]{
padding:3px 10px;
background:#3f4360;
border:0;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
line-height:1.5;
height:auto;
font-size:110%;
color:#fff;
}

input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover{
background:#292d48;
cursor:pointer;
}


/* 全体
------------------------------------------------------------*/
#wrapper{
margin:0 auto;
padding:0 1%;
width:98%;
position:relative;
}

.inner{
margin:0 auto;
width:100%;
}


/*************
/* ヘッダー
*************/
#header{
padding:10px 0 15px;
background:#3f4360;
border-bottom:1px solid #292d48;
z-index:100;
}

#header:after{
content:"";
display: block;   
clear:both; 
visibility:hidden;
}

#header h1{
font-size:12px;
font-weight:normal;
color:#fff;
}

/*************
/* ロゴ
*************/
#header .logo{
float:left;
padding:20px 0 0;
}

.logo a{
font-size:20px;
font-weight:bold;
line-height:1;
color:#fff;
}

.logo span{
font-size:12px;
font-weight:normal;
}


/**************************
/* メイン画像（トップページ+サブページ）
**************************/
#mainBanner{
margin:30px auto;
padding:0;
width:100%;
position:relative;
line-height:0;
}

#mainBanner img{
max-width:100%;
height:auto;
border-radius:3px;
}

.slogan{
position:absolute;
max-width:100%;
height:auto;
bottom:0;
left:0;
padding:5px 10px;
line-height:1.4;
background:url(images/tp.png);
}

.slogan h2{
padding-bottom:5px;
color:#333;
font-size:20px;
}

.slogan h3{
font-size:14px;
color:#666;
}


/**************************
/* グリッド
**************************/
.gridWrapper{
clear:both;
overflow:hidden;
}
	
.grid{
overflow:hidden;
border-radius:5px;
background:#fff;
}

.grid h3{
padding:20px 5px;
text-align:center;
color:#fff;
border-radius:5px 5px 0 0;
background:#292d48;
}

.grid p{
padding:5px 10px;
}

/* フッター内のグリッド(3カラム) */
#footer .grid{
color:#fff;
background:transparent;
}

#footer .grid p{padding:0;}


/*************
メイン コンテンツ
*************/
section.content{
clear:both;
margin-top:20px;
padding:19px;
margin-bottom:20px;
border:1px solid #ebebeb;
border-radius:6px;
background:#fff;
overflow:hidden;
font-size:14px;
}

section.content p{margin-bottom:5px;}


/* アーカイブページ */
section.content .archive{
padding:20px 0 0;
border-bottom:1px dotted #ccc;
}

section.content p{margin-bottom:5px;}

h3.heading{
clear:both;
padding-left:7px;
margin-bottom:10px;
font-size:16px;
border-left:5px solid #3f4360;
color:#3f4360;
}

section.content img{
max-width:90%;
height:auto;
}

.alignleft{
float:left;
clear:left;
margin:3px 10px 10px 0;
}

.alignright{
float:right;
clear:right;
margin:3px 0 10px 10px;
}

.border,ul.list img{border:4px solid #ebebeb;}


/*************
/* サイドバー
*************/
#sidebar article{
padding:7px;
margin-bottom:20px;
border:1px solid #ebebeb;
overflow:hidden;
}

#sidebar ul{padding-top:10px;}

#sidebar li{
margin-bottom:10px;
padding-bottom:10px;
list-style:none;
border-bottom:1px dashed #ebebeb;
}

#sidebar li:last-child{
border:0;
margin-bottom:0px;
}

#sidebar li a{display:block;}

ul.list li{
clear:both;
margin-bottom:5px;
padding:5px 0;
overflow:hidden;
}

ul.list li{height:1%;}

ul.list li img{
float:left;
margin-right:10px;
}

ul.list li{
font-size:12px;
line-height:1.35;
}


/*************
/* フッター
*************/
#footer{
clear:both;
padding:20px 0;
overflow:hidden;
background:#3f4360;
border-top:1px solid #292d48;
}

* html #footer{height:1%;}

.tel strong{
font-size:20px;
font-weight:bold;
}

#footer a{color:#fff;}
#footer a:hover{color:#ccc;}

#footer .copyright{font-size:11px;}


/*************
サブ（フッター前）コンテンツ
*************/
#sub ul{padding:10px;}

#sub li{
margin-bottom:10px;
padding-bottom:10px;
border-bottom:1px dashed #ebebeb;
}

#sub li:last-child{
border:0;
margin-bottom:0;
}

#sub li a{display:block;}

#sub ul.list{padding-bottom:7px;}

#sub ul.list li{
clear:both;
margin-bottom:5px;
padding:5px 0;
overflow:hidden;
}

#sub ul.list li img{
float:left;
margin-right:10px;
}

#sub ul.list li{
font-size:12px;
line-height:1.35;
}

#sub .grid h3{border-radius:0;}


/* page navigation
------------------------------------------------------------*/
.pagenav{
clear:both;
width:100%;
height:30px;
margin:5px 0 20px;
}

.prev{float:left}
.next{float:right;}

#pageLinks{
clear:both;
text-align:center;
}


/* タイポグラフィ
*****************************************************/
.dateLabel{
margin:0 0 10px;
text-align:right;
font:italic 1em "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.post p{padding-bottom:15px;}

.post ul{margin:0 0 10px 10px;}

.post ul li{
margin-bottom:5px;
padding-left:15px;
background:url(images/bullet.png) no-repeat 0 8px;
}

.post ol{margin:0 0 10px 30px;}

.post ol li{list-style:decimal;}

.post h1{
margin:20px 0;
padding:5px 0;
font-size:150%;
color:#000;
border-bottom:3px solid #3f4360;
}

.post h2{
margin:10px 0;
padding-bottom:2px;
font-size:130%;
font-weight:normal;
color:#333;
border-bottom:2px solid #3f4360;
}

.post h3{
margin:10px 0;
font-size:120%;
font-weight:normal;
color:#777;
border-bottom:1px solid #3f4360;
}

.post blockquote{
clear:both;
padding:10px 0 10px 15px;
margin:10px 0 25px 30px;
border-left:5px solid #ccc;
}
 
.post blockquote p{padding:5px 0;}

.post table{
border-collapse:collapse;
margin:10px 0;
}

.post table th,.post table td{
padding:5px;
border:1px solid #292d48;
}

.post table th{
font-weight:bold;
letter-spacing:1px;
white-space:nowrap;
color:#fff;
background:#3f4360;
border-left:#292d48 5px solid
}

.post table td{border-left:#292d48 3px double;}

.post dt{font-weight:bold;}

.post dd{padding-bottom:10px;}

.post img{max-width:100%;height:auto;}

img.aligncenter{
display:block;
margin:5px auto;
}

img.alignright, img.alignleft{
padding:4px;
margin:0 0 2px 7px;
display:inline;
}

img.alignleft{margin:0 7px 2px 0;}

.alignright{float:right;}
.alignleft{float:left;}


/* PC用
------------------------------------------------------------*/
@media only screen and (min-width:960px){
	#wrapper,.inner{
	width:940px;
	padding:0;
	}
	
	#wrapper{padding-bottom:20px;}
	
	/* グリッド全体 */
	.gridWrapper{
	display:table;
	border-collapse:separate;
	border-spacing:20px;
	margin-left:-20px;
	width:960px;
	}
	
	/* グリッド共通 ベース:トップページ4カラム */
	.grid{
	width:220px;
	display:table-cell;
	}
	
	#sub.gridWrapper{width:980px;}
	
	/* サブコンテンツ + フッター グリッド(3カラム) */
	#sub .grid, #footer .grid{width:300px;}
	
	/* トップナビゲーション */
	nav div.panel{display:block !important;}

	a#menu{display:none;}
	
	ul#topnav{
	float:right;
	margin-top:-10px;
	}

	ul#topnav li{
	float:left;
	margin:0 5px;
	text-align:center;
	position:relative;
	}

	ul#topnav a{
	font-size:13px;
	display:block;
	padding:20px 10px;
	color:#fff;
	}

	ul#topnav span{
	color:#cdcdcd;
	font-size:10px;
	}

	ul#topnav li.current-menu-item a,ul#topnav a:hover{
	background:#292d48;
	border-radius:5px;
	}

	ul#topnav ul{
	width:160px;
	display:none;
	}

	ul#topnav li:hover ul{
	display:block;
	position:absolute;
	top:70px;
	left:0;
	z-index:500;
	}
	
	ul#topnav li li{
	margin:0;
	float:none;
	width:160px;
	text-align:left;
	border-top:1px dashed #3f4360;
	}

	ul#topnav li.current-menu-item li a,ul#topnav li li a{
	border-radius:0;
	padding:10px;
	background:#292d48;
	}

	ul#topnav li li.current-menu-item a,ul#topnav li li a:hover{
	border-radius:0;
	color:#292d48;
	background:#fff;
	}
}

@media only screen and (max-width:940px){
	#header{padding:10px 0 0;}
	#header h1{padding:0 0 5px 10px;}
	#header .logo{padding:10px 0 10px 10px;}
	
	/* トップナビゲーション */
	nav#mainNav{
	clear:both;
	width:100%;
	margin:0 auto;
	padding:0;
	border-top:1px solid #292d48;
	}
	
	nav#mainNav a.menu{
	width:100%;
	display:block;
	height:40px;
	line-height:40px;
	font-weight:bold;
	text-align:left;
	color:#fff;
	}

	nav#mainNav a#menu span{padding-left:10px;}
	nav#mainNav a span:before{content:"→ ";}
	nav#mainNav a.menuOpen span:before{content:"↓ ";}

	nav#mainNav a#menu:hover{cursor:pointer;}

	nav .panel{
	display:none;
	width:100%;
	position:relative;
	right:0;
	top:0;
	z-index:1;
	}
	
	nav#mainNav ul{margin:0;padding:0;}

  nav#mainNav ul li{
	float:none;
	clear:both;
	width:100%;
	height:auto;
	line-height:1.2;
	}

	nav#mainNav ul li:first-child{border-top:1px solid #292d48;}
	nav#mainNav ul li li:first-child{border-top:0;}

	nav#mainNav ul li a,nav#mainNav ul li.current-menu-item li a{
	display:block;
	padding:15px 10px;
	text-align:left;
	border-bottom:1px dashed #292d48;
	color:#fff;
	}

	nav#mainNav ul li:last-child a{border:0;}
	nav#mainNav ul li li:last-child a{border:0;}
	nav#mainNav ul li li:last-child a{border-bottom:1px dashed #292d48;}

 	nav#mainNav ul li a span{display:none;}
 
	nav#mainNav ul li.current-menu-item a,nav#mainNav ul li a:hover,nav#mainNav ul li.current-menu-item a,nav#mainNav ul li a:active, nav#mainNav ul li li.current-menu-item a, nav#mainNav ul li.current-menu-item li a:hover, nav#mainNav ul li.current-menu-item li a:active{
	background:#292d48;
	}

	nav#mainNav ul li li{
	float:left;
	border:0;
	}

	nav#mainNav ul li li a, nav#mainNav ul li.current-menu-item li a, nav#mainNav ul li li.current-menu-item a{
	padding-left:40px;
	background:url(images/sub1.png) no-repeat 20px -62px;
	}

	nav#mainNav ul li li.current-menu-item a,nav#mainNav ul li li a:hover, nav#mainNav ul li.current-menu-item li a:hover{background:#292d48 url(images/sub1.png) no-repeat 20px -62px;}

	nav#mainNav ul li li:last-child a{background:url(images/subLast.png) no-repeat 20px -65px;}
	nav#mainNav ul li li:last-child.current-menu-item a,nav#mainNav ul li li:last-child a:hover,nav#mainNav ul li.current-menu-item li:last-child a:hover{background:#292d48 url(images/subLast.png) no-repeat 20px -65px;}

	
	.grid{
	float:left;
	width:48%;
	margin:10px 2% 0 0;
	}
	
	.grid img{
	float:left;
	margin-right:5px;
  max-width:100%;
	height:auto;
	}
	
	#sub .grid{
	width:32%;
	margin:10px 1%;
	}
	
	#sub .grid:first-child{
	margin-left:0;
	}
	
	#sub .grid:last-child{
	margin-right:0;
	}
	
	#footer .grid{
	float:none;
	width:100%;
	text-align:center;
	}
	
	#footer .grid:last-child{padding-top:20px;}
}

@media only screen and (max-width:768px){
  #header{padding-bottom:0;}	
	#header h1{text-align:center;}
	
	#header .logo{
	float:none;
	text-align:center;
	padding:10px 5px 20px;
	}

	#sub ul.list{padding:10px 10px 11px;}
	
	#sub ul.list li{padding-bottom:10px;margin-bottom:8px;}
}


@media only screen and (max-width:640px){
	#footer .grid p{text-align:center;}
	
	.grid img{float:none;margin:20px auto 10px;	}
	
	.grid p,#sub .grid li{text-align:left;}

  .alignleft,.alignright{float:none;display:block;margin:0 auto 10px;}
}

@media only screen and (max-width:480px){	
	#mainBanner{margin-left:1px;}
	#mainBanner h2,#mainBanner h3{font-size:80%;}
	
	#sub .grid{
	float:none;
	width:98%;
	}
	
	#sub .grid h3{padding:10px 5px;}
	
	#sub ul.list{padding:10px;}
	
	#sub ul.list li{
	padding-bottom:3px;
	margin-bottom:3px;
	}
	
	#sub ul.list li img{margin:0 5px 0 0;}
}